/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
} */
/* konten utama/background */
/* body{
    background:#fd79a8;
} */
/* halaman web */
/* .container{
    background: #ecf0f1;
    max-width: 600px;
    margin: 50px auto;
    height: 1000px;
    padding: 50;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
} */
/* navigasi halaman web */
/* .header{
    text-align: center;
} */
/* teks "profil saya" */
/* .header h1{
    margin-bottom: 10px;
} */
/* biodata */
/* .header h2{
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
} */
/* peta gambar ( area bulat) */
/* .img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove #f8a5c2;
} */
/* lebar gambar */
/* .img-area img{
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 40px;
}
.left p{
    line-height: 2;
}  */
/* isi teks kesukaan */
/* .left ul li{
    line-height: 2;
} */
/* padding=di gunakaan untuk menata letak dari sisi dalam
 yg berisi konten teks biodata,kesukaan dan about me  */
/* h2{
    background: #f8a5c2;
    padding: 15px;
    color: #ecf0f1;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 40px;
} */
/* teks about me */
/* .right h2{
    margin-bottom: 15px;
} */
/* tag p */
/* .right p{
    line-height: 2.9;
} */
/* isi about me */
/* .right ul li{
    line-height: 2;
}

@media only screen and (min-width: 768px) and (maax-widdth: 991px){
    .container{
        width: 95%;
        height: auto;
    }
    h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .left,
    .right{
        flex: none;
        width: 100%;
    }
    .container{
        width: 95%;;
        height: auto;
    }
    h2{
        font-size: 15px;
    }
} */